<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="text-align: center;"><%= title %></h1>
    <p>Welcome to <%= title %> Page</p>
    <a href="/login">Login</a><br>
    <a href="/services">Services</a><br>
    <a href="/user">Manage user</a>
  </body>
</html>
